<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detail.css">
    <title><%= data.type === 'flor' ? 'Flor' : 'Arbre' %> - Plantarium</title>
</head>

<body>
    <a class="return-btn" href="/<%= data.type === 'flor' ? 'flors' : 'arbres' %>">< PLANTARIUM</a>
    <main>
        <div class="plant-card">
            <div class="img-container">
                <img src="<%= data.type === 'flor' ? '/images//images/flor.png' : '/images//images/arbre.png' %>" alt="<%= data.name %>">
            </div>
    
            <div class="content-container">
                <h1><%= data.name %></h1>
    
                <p><strong>Categoria:</strong> <%= data.category %></p>
                <p><strong>Estació:</strong> <%= data.bloomSeason %></p>
                <p><strong>Origen:</strong> <%= data.origin %></p>
                <p><strong>Descripció:</strong> <%= data.description %></p>
            </div>
        </div>

    </main>
</body>

</html>

