<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flors - Plantarium</title>
    <link rel="stylesheet" href="/css/list.css">
    <script src="/js/flowers.js"></script>
</head>

<body>
    <a class="return-btn" href="/">< PLANTARIUM</a>
    <main>
        <h1>FLORS</h1>
        <a class="add-btn" href="/form"><img src="/images/plus-square.svg" alt="add-btn"></a>
        <ul>
            <% data.flowers.forEach((flower)=> { %>
                <li>
                    <img class="flor-img" src="/images/flor.png" alt="flor">
                    <div class="content-container">
                        <p class="title">
                            <%= flower.name %>
                        </p>
                        <p><strong>Categoria:</strong> <%= flower.category %></p>
                        <p><strong>Estació:</strong> <%= flower.bloomSeason %></p>
    
                        <div class="btn-container">
                            <a class="cta" href="/flors/<%= flower.id %>"><img src="/images/eye.svg" alt="details-btn"></a>
                            <a class="cta" href="/form-edit?id=<%= flower.id %>"><img src="/images/edit-2.svg" alt="edit-btn"></a>
                            <button class="cta" onclick="deleteFlower('<%= flower.id %>')"><img src="/images/trash-2.svg" alt="edit-btn"></button>
                        </div>
                    </div>

                </li>

                <% }) %>
        </ul>

    </main>

</body>

</html>
