<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbres - Plantarium</title>
</head>

<body>
    <main>
        <section>
            <h3>Llistat arbres</h3>
            <a href="/form">+</a>
            <ul>

                <% data.trees.forEach((tree)=> { %>
                    <li>
                        <strong>
                            <%= tree.name %>
                        </strong><br>
                        <span>Categoria: <%= tree.category %></span><br>
                        <span>Estació: <%= tree.bloomSeason %></span>

                        <a href="/form-edit?id=<%= tree.id %>">Edit</a>
                        <button onclick="deleteTree('<%= tree.id %>')">X</button>

                    </li>

                    <% }) %>
            </ul>
        </section>
    </main>

</body>

</html>

<script defer>
    const btn = document.getElementById('delete-btn');

    const deleteTree = (id) => {
        if (!confirm(`Segur que vols eliminar la planta ${id}?`)) return;

        fetch(`/arbres/${id}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (!response.ok) throw new Error('Error en eliminar');
            return response.json();
        })
        .then(data => {
            console.log('Planta eliminada', data);
        })
        .catch(error => {
            console.error('Error en eliminar la planta:', error);
        });

        // recarrego la pàgina perquè es vegi el canvi
        window.location.href = "/arbres";

    };
</script>